body{
    font-family: 'Open Sans', sans-serif;
}

.botao {
    display: block;
    width: 100%;
    padding: 1rem 2rem;
    border: 1px solid #ffffff;
    max-width: 350px;
    box-sizing: border-box;
    border-radius: 5px;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.botao--vermelho {
    border: 1px solid #B72E2E;
    color: #B72E2E;
    margin-top: 0rem;
}